<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee</title> 


</head>
<body>

	<div th:insert="header.html"></div>

	<form style="padding-left: 230px; padding-top: 50px;"
		action="/employee" method="post" th:object="${emodel}">

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">First name</label> <input
					type="text" th:field="*{fname}" class="form-control"
					id="validationDefault01" placeholder="First name" value="Mark"
					required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">Last name</label> <input
					type="text" th:field="*{lname}" class="form-control"
					id="validationDefault01" placeholder="Last name" value="Mark"
					required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">Gender</label>

				<div class="form-check">
					<input th:field="*{gender}" class="form-check-input" type="radio"
						name="exampleRadios" id="exampleRadios1" value="male" checked>
					<label class="form-check-label" for="exampleRadios1">Male</label>
				</div>

				<div class="form-check">
					<input th:field="*{gender}" class="form-check-input" type="radio"
						name="exampleRadios" id="exampleRadios1" value="female" checked>
					<label class="form-check-label" for="exampleRadios1">Female</label>
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">DOB</label> <input type="date"
					th:field="*{dob}" class="form-control" id="validationDefault01"
					placeholder="DOB" value="Mark" required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">JoinDate</label> <input type="date"
					th:field="*{joinDate}" class="form-control"
					id="validationDefault01" placeholder="Last name" value="Mark"
					required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">Phone</label> <input type="text"
					th:field="*{phone}" class="form-control" id="validationDefault01"
					placeholder="Enter Phone" value="Mark" required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">Email</label> <input type="email"
					th:field="*{email}" class="form-control" id="validationDefault01"
					placeholder="Email" value="Mark" required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">Company</label> <input type="text"
					th:field="*{company}" class="form-control" id="validationDefault01"
					placeholder="Your Company" value="Mark" required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">Post</label> <input type="text"
					th:field="*{post}" class="form-control" id="validationDefault01"
					placeholder="Your Post" value="Mark" required>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">Salary</label> <input type="text"
					th:field="*{salary}" class="form-control" id="validationDefault01"
					placeholder="Enter Your Salary" value="Mark" required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">Country</label> <input type="text"
					th:field="*{address.country}" class="form-control"
					id="validationDefault01" placeholder="Your Country" value="Mark"
					required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label for="validationDefault01">City</label> <input type="text"
					th:field="*{address.city}" class="form-control"
					id="validationDefault01" placeholder="City Name" value="Mark"
					required>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-6 mb-3">
			
				<div class="form-group col-md-8">
					<label for="inputState">State</label> 
					<select th:field="*{address.state}"id="inputState" class="form-control">
						
						<option value="#">----Select State---</option>
						<option th:value="State-1">State-1</option>
						<option th:value="State-2">State-2</option>
						<option th:value="State-3">State-3</option>
						<option th:value="State-4">State-4</option>
						<option th:value="State-5">State-5</option>
					
					</select>
				</div>
			</div>
			</div>

			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="validationDefault01">Zipcode</label> <input type="text"
						th:field="*{address.zipcode}" class="form-control"
						id="validationDefault01" placeholder="Zipcode" value="Mark"
						required>
				</div>
			</div>

			<button class="btn btn-primary" type="submit">Save</button>
	</form>

</body>
</html>